@import "vars";

@media screen and (max-width: 1400px) {
  .wrapper .search .select-field {
    min-width: 190px;
  }
}

@media screen and (max-width: 1365px) {

  .input-field {
    max-width: 145px;

    input {
      width: 100%;
    }
  }
  .wrapper .search .select-field {
    min-width: 180px;
  }
}

@media screen and (max-width: 1305px) {
  .wrapper .search.main-search {
    margin: 0 7%;
  }
  .select-field select {
    font-size: .7em;
  }
  .input-field {
    input {
      font-size: .7em;
    }
  }
}

@media screen and (max-width: 1250px) {
  .wrapper .search.main-search {
    margin: 0 5%;
  }
}


@media screen and (max-width: 1199px) {
  .header {
    .top-header {
      &__phone img,
      &__mail img,
      &__mail img {
        margin-right: 10px;
      }
    }

    .header-content {
      &__search .form-search .field input {
        width: 215px;
      }

      &__menu {
        padding: 0 4% 0 3%;

        ul li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .wrapper .head {
    &__slide {
      .main-img{
        height: 750px;
        top: -20%;
      }
      .slide__content{
        padding-left: 50px;
      }
      .sub-title {
        font-size: 1.7em;
      }

      .title {
        font-size: 3.5em;
      }

      .description {
        font-size: 1em;
      }
    }
  }
  .wrapper .search.main-search {
    margin: 0 2%;
  }
  .select-field select {
    padding: 11px 55px 11px 15px;
  }
  .input-field input {
    padding: 9px 15px 9px 15px;
  }
  .wrapper .search .select-field {
    min-width: 200px;
  }
  .wrapper .sanatoriums__item .description {
    font-size: .7em;
  }
  .wrapper .main-about__content {
    .title {
      font-size: 3.5em;
    }
    .number__title {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 1140px) {
  .wrapper .search.main-search {
    margin: 0;
  }
}
@media screen and (max-width: 1090px) {
  .wrapper .search .select-field {
    min-width: 180px;
  }
  .input-field {
    max-width: 140px;
  }
}
@media screen and (max-width: 1040px) {
  .header {
    .header-content {
      &__menu {
        padding: 0 20px 0 10px;
      }

      ul li {
        margin-right: 12px;
      }
    }
  }
}

@media screen and (max-width: 1045px) {
  .wrapper .search .select-field {
    min-width: 150px;
  }
}
@media screen and (max-width: 991px) {
  body{
    font-size: 14px;
  }
  .header {
    &.scroll{
      top: -42px;
    }
    &__logo{
      img{
        height: 35px;
        width: auto;
      }
    }
    &__burger {
      border: none;
      transition: all .3s;
      position: relative;
      width: 25px;
      height: 25px;
      background-color: unset;

      span {
        display: block;
        height: 1px;
        width: 100%;
        top: 5px;
        background-color: $green;
        transition: all .3s;
        position: relative;
        &:before{
          content: '';
          height: 1px;
          width: 100%;
          top: -12px;
          background-color: $green;
          position: absolute;
          left: 0;
        }
      }
      &.active {
        span {
          transform: rotate(45deg);
          top: 0;
          &:before {
            transform: rotate(-85deg);
            top: 0px;
          }
        }
      }
    }

    .top-header {
      padding: 10px 0;
      &__address,
      &__phone,
      &__request,
      &__mail {
        display: none;
      }
    }

    .header-content {
      padding: 10px 0;
      &__menu {
        display: none;
      }
    }
  }
  .mobile_header {
    transition: all .3s;
    background-color: #f2f6f8;
    padding-top: 10px;
    overflow-y: auto;

    &.active {
      z-index: 10;
      display: block;
      animation: openMobileMenu .5s;
      animation-fill-mode: both;
    }

    .header__logo {
      margin-top: 10px;
    }

    &__menu {
      margin-top: 20px;
      text-align: center;

      ul {
        li {
          margin-bottom: 15px;

          a {
            color: $grey;
            font-size: 1em;
            line-height: 1.2;

            &.active {
              color: $green;

              &:before {
                width: 100%;
                background-color: $green;
              }
            }
          }
        }
      }
    }

    &__contacts {
      border-top: rgba(50, 50, 50, .2) 1px solid;
      padding-top: 20px;
      margin-top: 20px;

      .address, .phone, .request, .mail {
        font-size: .8em;
        line-height: 1.2;
        color: $grey;
        margin-bottom: 10px;

        a {
          color: $grey;
        }

        img {
          width: 14px;
          height: 14px;
          margin-right: 8px;
        }
      }


      .request a {
        color: $green;
        text-decoration: underline;
        transition: all .3s;

        &:hover {
          text-decoration: none;
          color: $green;
        }
      }
    }
  }
  .input-field {
    max-width: unset;
  }
  .input-field label, .select-field label {
    font-size: .7em;
  }
  .wrapper {
    .head {
      &__slider{
        .slick-track{
          padding-top: 180px;
        }
      }
      &__slide {
        height: 300px;
        .main-img{
          height: 600px;
          top: -30%;
        }
        .info {
          padding: 0;
        }
        .sub-title {
          font-size: 2em;
        }
        .title {
          font-size: 3.5em;
        }
        .description {
          font-size: 1.2em;
        }
      }
      .next-arrow img {
        width: 35px;
        height: 20px;
      }
    }
    .sanatoriums__item .description {
      font-size: .8em;
    }
    .main-about__image {
      width: 50%;
      margin-top: 20px;
    }
    .main-about__content {
      padding-left: 0;
    }
    .partners {
      &__item {
        padding: 0 20px;
        img {
          height: 48px;
        }
      }
      .arrow {
        top: 24px;
      }
    }
  }
  .button {
    padding: 13px 44px;
    font-size: 1.1em;
  }
  .footer {
    text-align: center;
    &__menu ul li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@keyframes openMobileMenu {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and(max-width: 768px){
  .wrapper{
    .head{
      margin-top: 0;
      &__nav{
        .arrow{
          margin-top: -30px;
        }
      }
      &__slider{
        .slick-track{
          padding-top: 0;
        }
      }
      &__slide{
        height: 370px;
        .slide__content{
          padding-left: 0;
          align-items: flex-start;
        }
        .info{
          position: relative;
          z-index: 2;
        }
        .main-img{
          top: 0;
        }
        .sub-title{
          font-size: 1.4em;
        }
        .title{
          font-size: 2.5em;
        }
        .description{
          font-size: 1em;
        }
        .button{
          margin-bottom: 0;
          font-size: 1em;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  body{
    font-size: 12px;
  }
  .wrapper{
    padding-top: 90px;
    .head{
      margin-top: 20px;
      &__slide{
        height: 320px;
        .main-img{
          height: 300px;
        }
        .main-img{
          top: 40%;
        }
        .button{
          padding: 12px 30px;
        }
      }
      &__nav{
        .arrow{
          top: 80%;
        }
        button{
          img{
            height: 15px;
          }
        }
      }
    }
  }
  .header {
    &.scroll{
      top: -38px;
    }
    .header-content {
      padding: 10px 0;

      &__search {
        position: relative;

        .form-search {
          display: flex;
          position: fixed;
          right: 0px;
          top: -200px;
          background-color: #f2f6f8;
          width: 100%;
          padding: 15px;
          align-items: center;
          transition: .4s all;
          .close_search{
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            span{
              display: block;
              height: 1px;
              width: 100%;
              background-color: $green;
              position: relative;
              transform: rotate(45deg);
              &:before{
                content: '';
                width: 100%;
                height: 1px;
                background-color: $green;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(-85deg);
              }
            }
          }
          &.active {
            top: 0;
            transition: .4s all;
          }
          .field{
            width: 100%;
          }
          .field input {
            width: 100%;
            font-size: 1em;
          }
          button{
            right: 28px;
          }
        }

        .mobile-search {
          display: block;
        }
      }
    }

    &__logo {
      align-items: center;
      img {
        width: 25px;
        height: auto;
        margin-right: 5px;
      }

      .title {
        font-size: 1.1em;
      }

      .description {
        font-size: .7em;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .header {
    .top-header {
      padding: 10px 0;

      &__authorize {
        img {
          width: 15px;
          height: 15px;
          margin-right: 8px;
        }

        a {
          font-size: .7em;
        }
      }
    }

    .header-content__search .mobile-search {
      width: 15px;
      height: 15px;
    }
  }
  .mobile_header {
    &__menu ul li {
      margin-bottom: 10px;

      a {
        font-size: .8em;
      }
    }

    &__contacts .address, &__contacts .mail, &__contacts .phone, &__contacts .request {
      font-size: 0.7em;
    }
  }
  .wrapper .search .select-field {
    min-width: unset;
  }
  .wrapper .search .button {
    font-size: .7em;
    padding: 10px 25px;
  }
  .button {
    padding: 12px 40px;
    font-size: .8em;
  }
  .wrapper .partners__item img {
    margin: auto;
  }
}