@import "vars";
@import "fonts";
@import "libs";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  background-color: #F2F6F8;
  font-size: 18px;
  line-height: 1.4;
  color: $grey;
}

ul {
  list-style-type: none;
  margin: 0;
}

.container {
  max-width: 1340px;
  margin: auto;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.btn{
  color: #fff;
  font-size: 0.78em;
  border-radius: 50px;
  background-color: $green;
  transition: .4s all;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: #8EE019;
    color: #fff;
  }
}

.b-u {
  text-decoration: none;
  transition: all .3s;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: $grey;
    transition: .4s all;
  }

  &:hover {
    text-decoration: none;

    &:before {
      width: 100%;
    }
  }
}

@keyframes scrollHeader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 5;
  transition: .4s all;

  &.scroll {
    box-shadow: 0 0 10px rgba(50, 50, 50, .2);
    top: -58px;
    background-color: #f2f6f8;
    .top-header {
      //animation: scrollHeader .4s;
      //animation-fill-mode: both;
    }
  }

  .top-header {
    border-bottom: 1px solid rgba(50, 50, 50, .2);
    padding: 16px 0;

    &__content {
      align-items: center;
    }

    &__address {
      font-size: .8em;
      line-height: 1.2;
      color: $grey;

      img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
      }
    }

    &__phone {
      text-align: right;

      img {
        width: 18px;
        height: 18px;
        margin-right: 14px;
      }

      a {
        font-size: .7em;
        line-height: 1.2;
        color: $grey;
        transition: all .3s;

        &:hover {
          color: $grey;
        }
      }
    }

    &__request {
      font-weight: 500;
      font-size: .7em;
      line-height: 1.2;
      color: $green;
      text-decoration: underline;
      transition: all .3s;

      &:hover {
        text-decoration: none;
        color: $green;
      }
    }

    &__mail {
      font-size: .75em;
      line-height: 1.2;
      color: $grey;
      transition: all .3s;

      img {
        width: 18px;
        height: 18px;
        margin-right: 13px;
      }

      &:hover {
        color: $grey;
        text-decoration: none;
      }
    }

    &__authorize {
      text-align: right;

      img {
        width: 20px;
        height: 20px;
        margin-right: 13px;
      }

      a {
        font-size: .8em;
        line-height: 1.2;
        color: $grey;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__logo {
    display: flex;

    img {
      width: 42px;
      height: 48px;
      margin-right: 8px;
    }

    .title {
      display: block;
      font-weight: 600;
      font-size: 1.1em;
      line-height: 1.2;
      color: $grey;
      margin-bottom: 2px;

      span {
        color: $green;
      }
    }

    .description {
      display: block;
      font-weight: 300;
      font-size: .8em;
      line-height: 1.2;
      color: $grey;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .header-content {
    padding: 13px 0;

    &__menu {
      padding: 0 17% 0 25px;

      ul {
        display: flex;

        li a {
          font-size: .9em;
          line-height: 1.2;
          color: $grey;
          transition: all .3s;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: $grey;
            transition: .4s all;
          }

          &.active {
            color: $green;

            &:before {
              width: 100%;
              background-color: $green;
            }
          }

          &:hover {
            text-decoration: none;

            &:before {
              width: 100%;
            }
          }
        }
      }
    }

    &__search {
      .mobile-search {
        display: none;
        width: 20px;
        height: 20px;
      }

      .form-search {
        position: relative;

        .field input {
          background: #F2F6F8;
          border: 1px solid #DEDEDE;
          box-sizing: border-box;
          border-radius: 50px;
          outline: transparent;
          font-size: .8em;
          line-height: 1.2;
          color: $grey;
          padding: 13px 19px;
          width: 250px;

          &::placeholder {
            font-size: .8em;
            line-height: 1.2;
            color: $grey;
            opacity: 0.55;
          }
        }
      }

      button {
        outline: transparent;
        border: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        background: none;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.mobile_header {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button {
  padding: 15px 44px;
  background: #82C91E;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  transition: .4s all;
  &:hover {
    color: #ffffff;
    background: #94dd2e;
    text-decoration: none;
  }
}
@keyframes animateOpacity {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.wrapper {
  padding-top: 150px;

  .head {
    margin-top: -190px;
    &__content {
      position: relative;
    }
    .next-arrow {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all .3s;

      img {
        width: 44px;
        height: 24px;
      }

      &:hover {
        right: -15px;
      }
    }
    &__slider{
      .slick-track{
        padding-top: 190px;
      }
    }
    &__slide {
      outline: transparent;
      height: 400px;
      .slide__content{
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        padding-left: 100px;
      }
      .info {
        width: 100%;
      }
      .sub-title {
        font-size: 1.8em;
        line-height: 1.2;
        color: $grey;
      }

      .title {
        font-weight: 800;
        font-size: 4.3em;
        line-height: 1.2;
        color: $grey;
        margin-bottom:10px;
      }

      .description {
        font-weight: 300;
        font-size: 1.1em;
        line-height: 1.4;
        color: $grey;
        margin-bottom: 20px;
      }

      .button {
        margin-bottom: 57px;
      }

      .main-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        position: absolute;
        height: 900px;
        width: auto;
        right: -2%;
        top: -35%;
      }
    }
    &__body{
      position: relative;
    }
    &__nav{
      .arrow{
        position: absolute;
        top: 50%;
        margin-top: 30px;
        background-color: transparent;
        outline: transparent;
        border: none;
        transition: .4s all;
        &.slick-disabled{
          opacity: 0;
        }
        &.prev{
          left: 0;
          img{
            transform: rotate(180deg);
          }
        }
        &.next{
          right: 0;
        }
      }
    }
  }

  .search {
    &.main-search {
      margin: 0 8%;
    }

    &__content {
      box-shadow: 0px 12px 30px rgba(50, 50, 50, 0.15);
      border-radius: 10px;
      padding: 19px 24px 38px 30px;
      position: relative;
    }

    .title {
      font-weight: bold;
      font-size: 1.1em;
      line-height: 1.2;
      color: $grey;
      margin-bottom: 14px;
    }
    .select-field {
      min-width: 205px;
      select {
        width: 100%;
      }
    }
    .select-field, .input-field {
      margin-bottom: 20px;
    }
    .button {
      position: absolute;
      bottom: 0;
      right: 4.5%;
      font-size: .8em;
      padding: 14px 30px;
      transform: translate(0, 50%);
    }
  }
  .sanatoriums {
    margin-top: 2em;
    &__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 17px 17px 23px 17px;
      border-radius: 10px;
      height: 266px;
      margin-bottom: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .item__content{
        position: relative;
        z-index: 3;
        height: 55px;
        transition: .4s all;
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(130, 201, 30, 0) 50%, #82C91E 105.45%);
        border-radius: 10px;
      }
      &:after {
        display: none;
        opacity: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(130, 201, 30, 0.41) 0%, #82C91E 100%);
        border-radius: 10px;
      }
      
      &:hover {
        text-decoration: none;
        .item__content{
          height: 100%;
        }
        .add-info {
          display: block;
          height: auto;
          opacity: 1;
          animation: animateOpacity 1s both;
        }
        &:after {
          display: block;
          opacity: 1;
          animation: display-none-transition 1s both;

        }
      }
      span {
        display: block;
      }
      
      .info, .add-info {
        z-index: 2;
      }
      .add-info {
        opacity: 0;
        height: 0;
        display: none;
      }
      .title {
        font-weight: 800;
        font-size: 1.4em;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 3px;
      }
      .sub-title {
        font-weight: bold;
        font-size: .9em;
        line-height: 1.2;
        color: #FFFFFF;
      }
      .description {
        font-size: .8em;
        line-height: 1.2;
        color: #FFFFFF;
        margin-top: 12px;
        margin-bottom: 18px;
      }
      .price {
        font-weight: bold;
        font-size: .9em;
        line-height: 1.2;
        color: #FFFFFF;
        span {
          display: inline-block;
          font-weight: 800;
          font-size: 1.3em;
          margin-left: 7px;
        }
      }
      .more {
        font-size: .8em;
        line-height: 1.2;
        color: #FFFFFF;
      }
    }
  }
  .advantages {
    margin-top: 30px;

    &__item {
      display: flex;
      margin-bottom: 45px;
      .image {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
      .title {
        font-weight: bold;
        font-size: .9em;
        line-height: 1.2;
        color: $grey;
        margin-bottom: 6px;
      }
      .description {
        font-weight: 300;
        font-size: .7em;
        line-height: 140.9%;
        color: $grey;
      }
    }
  }
}

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}
@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}

.section-title {
  font-weight: 800;
  font-size: 2.3em;
  line-height: 1.2;
  color: $grey;
  margin-bottom: 6px;
}
.section-description {
  font-weight: 300;
  font-size: 1em;
  line-height: 140.9%;
  color: $grey;
  margin-bottom: 30px;
}
.link-arrow {
  font-weight: 500;
  font-size: .9em;
  line-height: 1.2;
  color: $green;
  position: relative;
  margin-right: 32px;
  &:hover {
    color: $green;
    img {
      right: -37px;
    }
  }
  &:before {
    background-color: $green;
  }
  img {
    position: absolute;
    right: -32px;
    top: 50%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(0, -50%);
    transition: all .3s;
  }
}
.select-field, .input-field {
  label {
    font-size: .9em;
    line-height: 1.2;
    color: $grey;
    margin-bottom: 12px;
    margin-left: 20px;
    display: block;
  }
}

.select-field {
  select {
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 13px 60px 13px 20px;
    appearance: none;
    outline: transparent;
    font-size: .8em;
    line-height: 1.2;
    color: $grey;

    background-image: linear-gradient(45deg, transparent 50%, $green 50%),
    linear-gradient(135deg, $green 50%, transparent 50%),
    linear-gradient(to right, $green, $green);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
    background-size: 5px 5px, 5px 5px, 40px 100%;
    background-repeat: no-repeat;
    position: relative;

    &:focus {
      outline: 0;
    }
  }

  option {
    font-size: .8em;
    line-height: 1.2;
  }

  .select {
    position: relative;
  }

  .select-arrow {
    width: 14px;
    height: 7px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.input-field {
  input {
    border: 1px solid #CECECE;
    border-radius: 50px;
    font-size: .8em;
    line-height: 1.2;
    color: $grey;
    padding: 11px 15px 11px 20px;
    outline: transparent;
    position: relative;
  }
  input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../img/calendar.svg') center/80% no-repeat;
    opacity: 0.5;
    margin: 0;
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 0.8
  }
}
@import "catalog";
@import "pagesTop";
@import "pagination";
@import "404";
@import "about";
@import "contacts";
@import "news";
@import "media"; // Always at the end
